{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Entrega "{{entity}}" - {{entity.estadostr|raw}}
		<a class="btn btn-default" style="float:right;" href="{{ path('colaboracion') }}">
			Volver
		</a>
	</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Cliente</th>
                <td><a href="{{path('cliente_show', {id:entity.cliente.id})}}" target="_blank">{{ entity.cliente }}</a></td>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
                <th>Total</th>
                <td>$ {{ entity.total }}</td>
            </tr>
            <tr>
                <th>Tipo de Venta</th>
                <td>{{ entity.tipo }}</td>
                <th>Descuento</th>
                <td>% {{ entity.descuento }}</td>
                <th>Bonificación</th>
                <td>$ {{ entity.bonificacion }}</td>
            </tr>
			<tr>
                <th colspan="6">Descripción</th>
            </tr>
            <tr>
                <td colspan="6">{{ entity.descripcion }}</td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
	<div class="col-md-12">
		<h3>
		Productos en la Entrega
		</h3>
		<hr />
	</div>
	<div class="col-md-12">
		<table class="display" id="tablaSF" width="100%">
			<thead>
				<tr>
					<th>Elemento</th>
					<th>Tipo y N° Fact.</th>
					<th>Cantidad</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
			{% for elementocolaboracion in entity.elementoscolaboracion %}
				<tr>
					<td>
						<a href="{{ path('elemento_show', { 'id': elementocolaboracion.elementostock.elemento.id }) }}">
							{{ elementocolaboracion.elementostock.elemento }} - {{ elementocolaboracion.elementostock.elemento.nombre }}
						</a>
					</td>
					<td>F. {{elementocolaboracion.elementostock.tipofactura}} - N° {{elementocolaboracion.elementostock.factura}}</td>
					<td>{{elementocolaboracion.cantidad}}</td>
					<td>$ {{elementocolaboracion.precio}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-12">
		<h3>
		Adjuntos
		</h3>
		<hr />
	</div>
	<div class="col-md-12">
		<table class="table" width="100%">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Archivo</th>
				</tr>
			</thead>
			<tbody>
			{% for adjunto in entity.adjuntos %}
				<tr>
					<td>{{adjunto.nombre}}</td>
					<td>
						<a href="{{ adjunto.contenidoBlob }}" download="{{adjunto.nombre}}" target="_blank" title="{{adjunto.nombre}}" alt="{{adjunto.nombre}}" name="{{adjunto.nombre}}">
						<i class="fa fa-download"></i> {{adjunto.nombre}}

						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<script>
		$("document").ready(function(){
			table.order([0, 'asc']).draw();
		});
	</script>
{% endblock %}
