<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TITANIO">
        <meta name="keywords" content="TITANIO">
        <meta name="author" content="Corvalan Nicolas">

        <title>TITANIO</title>

        <!-- DATA TABLE -->
        <script type="text/javascript" src="{{ asset('bundles/DataTable/jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/DataTable/jquery.dataTables.min.js') }}"></script>
		
		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/dataTables.buttons.min.js') }}"> </script> 
		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/jszip.min.js') }}"> </script> 
		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/pdfmake.min.js') }}"> </script> 
		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/vfs_fonts.js') }}"> </script> 
		<script language="JavaScript" type="text/JavaScript" src="{{ asset('bundles/DataTableEXPORT/buttons.html5.min.js') }}"> </script> 

		<link href="{{ asset('bundles/DataTableEXPORT/buttons.dataTables.min.css') }}" rel='stylesheet' type='text/css'>                     
		<link rel="stylesheet" href="{{ asset('bundles/DataTable/jquery.dataTables.css') }}">
        
		<!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->	
        <link href="{{ asset('bundles/nuevo/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/nuevo/dist/css/sb-admin-2.css') }}?rand={{ random(5) }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('bundles/nuevo/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('bundles/nuevo/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('bundles/nuevo/dist/js/sb-admin-2.js') }}"></script>
        <!-- Datepicker -->
        <link rel="stylesheet" href="{{ asset('bundles/datetimepicker/jquery.datetimepicker.css') }}">
        <script src="{{ asset('bundles/datetimepicker/jquery.datetimepicker.js') }}"></script>		

        <link  href="{{ asset('bundles/joyas/img/favicon.ico') }}" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" href="{{ asset('bundles/style.css') }}?rand={{ random(5) }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
		<style>	
			input, textarea, .uneditable-input {
				width: inherit;
			}
		</style>
    </head>

    <body>
        <div id="content">
			<h1 style="text-align: center;">
				<img style="margin-right: 22px;" width="14%" src="{{ asset('bundles/titanio/img/titaniologo.png') }}" />
			</h1>
			<div class="row-fluid" >
			  {% for flashMessage in app.session.flashbag.get('msgError') %}
				  <div class="span4 offset4" >
					<div class="alert alert-block fade in alert-error">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>{{ flashMessage }}</h4> 
				  </div>
				  </div>
			  {% endfor %}
			  {% for flashMessage in app.session.flashbag.get('msgWarn') %}
				  <div class="span4 offset4" >
					<div class="alert alert-block fade in alert-warning">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>{{ flashMessage }}</h4>
				  </div>
				  </div>
			  {% endfor %}
			  {% for flashMessage in app.session.flashbag.get('msgOk') %}
				  <div class="span4 offset4" >
					<div class="alert alert-block fade in alert-success">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>{{ flashMessage }}</h4>
				  </div>
				  </div>
			  {% endfor %}
			  {% for flashMessage in app.session.flashbag.get('msgInfo') %}
				  <div class="span4 offset4" >
					<div class="alert alert-block fade in alert-info">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>{{ flashMessage }}</h4>
				  </div>
				  </div>
			  {% endfor %}
			</div>
			<div class="">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Inicio de Sesi&oacute;n</h3>
						</div>
						<div class="panel-body">
							<form action="{{ path('_login') }}" method="POST" autocomplete="off">
								<fieldset>
									<div class="form-group">
										<input class="form-control" placeholder="Usuario" name="usuario" type="text" autofocus="">
									</div>
									<div class="form-group">
										<input class="form-control" placeholder="Clave" name="clave" type="password" value="">
									</div>
									<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid" style="margin-top: 30px">
				<div class="span6 offset3" style="text-align: center; font-size: 100%">
				</div>
			</div>
        </div>
    </body>
</html>