{% extends 'GESTIONGestionBundle::base.html.twig' %}
{% block body -%}

{% set desde = app.session.get('desde') %}
{% set fin = app.session.get('fin') %}

<div class="col-md-12 text-center">
	<img style="margin-right: 22px;" width="20%" src="{{ asset('bundles/titanio/img/titaniologo.png') }}" />
</div>
<div class="col-md-12 text-center">
	<h2>
		Bienvenido al Sistema de Gestión
	</h2>
</div>
<div class="col-md-12 text-center">
	<h3>
		Accesos Rápidos
	</h3>
	<div class="col-md-3 text-center">
		<a class="btn btn-success btn-lg" href="{{path('colaboracion')}}">Entregas <i class="fa fa-cubes"></i></a>
	</div>
	<div class="col-md-3 text-center">
		<a class="btn btn-info btn-lg" href="{{path('cliente')}}">Clientes <i class="fa fa-users"></i></a>
	</div>
	<div class="col-md-3 text-center">
		<a class="btn btn-danger btn-lg" href="{{path('documento_gastos')}}">Gastos <i class="fa fa-level-down"></i></a>
	</div>
	<div class="col-md-3 text-center">
		<a class="btn btn-primary btn-lg" href="{{path('_ganancias')}}">Informe Ganancia Neta <i class="fa fa-dollar"></i></a>
	</div>
</div>
<script>
	var fin = '{{fin}}';		
	if(fin=='no'){
		var direccion = '{{path('_importarArchivos')}}?desde={{desde}}';
		window.location.href = direccion;
	}
</script>
{% endblock %}
