{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		{% if entity.tipoDocumento == 'G' %} Edici&oacute;n de Gasto {% endif %}
		<a class="btn btn-default" href="{{path('documento_gastos')}}">
			Volver
		</a>
	</h1>

    <div class="joyas-container">
		<div class="container">
			{{ form_start(edit_form) }}
			<div class="recibos">
				<label>Fecha</label>
				<input name="fecha" class="datetimepicker" onkeydown="return false" required value="{{entity.fecha|date('Y-m-d')}}" />
				<div class="hidden">{{ form_widget(edit_form.fecha) }}</div>
			</div>
			{{ form_end(edit_form) }}
		</div>
	</div>

<script>
	
</script>
{% endblock %}
