{% extends 'GESTIONGestionBundle::base.html.twig' %}
{% block body -%}

<div class="filtrocabecera">
	{% if tipo == "gastos" %}
		Informe Estad&iacute;stico de Gastos
	{% endif %}
	{% if tipo == "ventas" %}
		Informe Estad&iacute;stico de Ventas
	{% endif %}
</div>
<div class="controls filtrocuerpo">
	{% if tipo == "gastos" %}
	<form action="{{ path('documento_informes') }}" method="POST" style="margin-top: 20px;" autocomplete="off">
	{% endif %}
	{% if tipo == "ventas" %}
	<form action="{{ path('documento_informeDeEntregas') }}" method="POST" style="margin-top: 20px;" autocomplete="off">
	{% endif %}
		<div class="control-group" style="text-align: center">
			<div class="controls">
				Per&iacute;odo: 
				<input required="required" type="text" class="form-control datetimepicker" style="width: 150px !important; margin: 0 auto;" name="fechaDesde" placeholder="fecha desde" onkeydown="return false">
				<input required="required" type="text" class="form-control datetimepicker" style="width: 150px !important; margin: 0 auto;" name="fechaHasta" placeholder="fecha hasta" onkeydown="return false">													
				<br>
				Agrupamiento:
				<select name="agrupado" class="form-control" style="width: 150px !important; margin: 0 auto;">
					<option value="1">Diario</option>
					<option value="2">Mensual</option>
			   </select>
			</div>
			<input type="hidden" value="{{ tipo }}" name="tipo"/>
			<br />
			<button class="btn btn-default" type="submit">Ingresar</button>
		</div>
	</form>
</div>
<script>

function comprobar(){
}

</script>
{% endblock %}
