{% extends 'GESTIONGestionBundle::base.html.twig' %}
{% block body -%}

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
			Gastos
		{% if perfil == 'ADMINISTRADOR' %}
            <a style="float: right;" class="btn btn-primary" href="{{ path('documento_new', {'tipo': 'G'}) }}">
                Registrar gastos
            </a>
		{% endif %}
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<form action="{{ path('documento_filtrogasto') }}" method="POST">
			<div class="col-sm-3">
				<label>Fecha Desde</label>
				<input type="text" class="form-control datetimepicker" name="fechaDesde" placeholder="Fecha desde" value="{{desde}}" readonly="readonly">
			</div>
			<div class="col-sm-3">
				<label>Fecha Hasta</label>
				<input type="text" class="form-control datetimepicker" name="fechaHasta" placeholder="Fecha hasta" value="{{hasta}}" readonly="readonly">													
			</div>
			<div class="col-sm-3">
				<label>Tipo de Gasto</label>
				<select name="tipoGasto" class="form-control">
					<option value="0">Elegir Tipo Gasto</option>
					{% for tipoGasto in tiposGasto %}
						<option value="{{ tipoGasto.id }}">
							{{ tipoGasto.nombre }}
						</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-3" style="line-height: 5.8em;">
				<button type="submit" class="btn btn-success" type="button">
					Buscar
				</button>
			</div>
		</form>
	</div>
	<div>	
	<div class="tablasScroll">
		<table id="tablaSF" class="display">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Documento</th>
					<th>Tipo de Gasto</th>
					<th>Importe</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td><a href="{{ path('documento_show', { 'id': entity.id }) }}">{{ entity }}</a></td>
					<td>{{ entity.tipoGasto }}</td>
					<td>$ {{ entity.importe }}</td>
					<td>
						<a class="btn btn-default" href="{{ path('documento_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
<script>
	$('document').ready(function(){
		$('td').css('padding', '2px');
	});
	activarActionsTab('gastos');
</script>
	
{% endblock %}