{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1 style="text-align:center;">
	{% if entity.tipoDocumento == 'F' %} Factura {{entity.id}} del proveedor {{entity.movimientocc.clienteproveedor}} {% endif %}
	{% if entity.tipoDocumento == 'C' %} Nota de Cr&eacute;dito {% endif %}
	{% if entity.tipoDocumento == 'D' %} Nota de D&eacute;bito {% endif %}
	{% if entity.tipoDocumento == 'R' %} Documento Recibo Cliente {% endif %}
	{% if entity.tipoDocumento == 'RP' %} Documento Recibo Proveedor {% endif %}
	{% if entity.tipoDocumento == 'A' %} Ajuste de Caja {% endif %}
	{% if entity.tipoDocumento == 'G' %} Gasto {% endif %}
	</h1>

    <table style="text-align: center; min-height: 300px; width: 400px; margin-bottom: 20px;border: inset;   margin: 0 auto;">
        <tbody>
			{% if entity.tipoDocumento == 'R' %}
				<tr>
					<td style="border: inset;" colspan="2"><strong>DOCUMENTO RECIBO CLIENTE</strong></td>
				</tr>
				<tr>
					<th  style="text-align: center;">Cliente</th>
					<td>{{ entity.movimientocc.clienteProveedor }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Fecha</th>
					<td>{{ entity.fecha|date('d-m-Y') }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Importe</th>
					<td>{{entity.monedaStr}} {{ entity.importe }}</td>
				</tr>
			{% if entity.descripcion != '' %}
				<tr>
					<th style="text-align: center;">Observaci&oacute;n</th>
					<td>{{entity.descripcion}}</td>
				</tr>
			{% endif %}
				<tr>
					<th style="text-align: center;">Firma</th>
					<td>....................</td>
				</tr>
			{% else %}
				<tr>
					<td style="border: inset;" colspan="2"><strong>CONSTANCIA PARA CLIENTE</strong></td>
				</tr>
				<tr>
					<th style="text-align: center;">{{ entity.movimientocc.clienteProveedor.clienteProveedorStr|default('') }}</th>
					<td>{{ entity.movimientocc.clienteProveedor }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Fecha de la Factura</th>
					<td>{{ entity.fecha|date('d-m-y') }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Fecha de Registracion</th>
					<td>{{ entity.fechaRegistracion|date('d-m-Y') }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Importe</th>
					<td>{{ entity.importe }} {{entity.monedaStr}}</td>
				</tr>
			{% endif %}
			{% if entity.tipoDocumento == 'C' or entity.tipoDocumento == 'D' %}
				<tr>
					<th style="text-align: center;">Descripci&oacute;n</th>
					<td>{{ entity.descripcion }}</td>
				</tr>
			{% endif  %}
        </tbody>
    </table>

	<ul id="volver" class="record_actions" style="margin-top:2%;">
		<li style="text-align: center;">
			<a class="btn btn-default" href="javascript:imprimir()">
				Imprimir
			</a>
			<a class="btn btn-default" href="javascript:history.back();">
				Volver
			</a>
		</li>
	</ul>
<script>
	
	activarActionsTab('documento');

function imprimir()
{
	$('#volver').css('display','none');
	//imprimir
	window.print();
	$('#volver').css('display','block');
}
function imprSelec()
{
	var doc = new jsPDF();

	doc.line(70, 13, 70, 75);
	doc.line(150, 13, 150, 75);

	doc.setFontSize(10);
	doc.line(70, 13, 150, 13);

	doc.text(82, 20, 'DOCUMENTO RECIBO CLIENTE');

	doc.line(70, 23, 150, 23);

	doc.text(80, 30,'Cliente');
	doc.text(105, 30, '{{ entity.movimientocc.clienteProveedor }}');

	doc.text(80, 40,'Fecha');
	doc.text(105, 40, '{{ entity.fecha|date('d-m-Y') }}');

	doc.text(80, 50,'Importe');
	doc.text(105, 50, '{{ entity.importe }}');

	doc.text(80, 60,'Moneda');
	doc.text(105, 60, '{{entity.monedaStr}}');

	doc.text(80, 70,'Firma');
	doc.text(105, 70, '............................');

	doc.line(70, 75, 150, 75);

	doc.save('Recibo {{entity.id}}.pdf');
}

</script>
{% endblock %}
