{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Alta de Stock al Elemento "{{entity.elemento.codigo}} - {{entity.elemento.nombre}}"
		<a class="btn btn-default" style="float:right;" href="{{ path('elementostock', {id: entity.elemento.id}) }}">
			Volver
		</a>
	</h1>
	<div class="gestion col-md-6 col-md-offset-3">
		{{ form_start(form) }}
		<div class="hidden">
		{{ form_row(form.elemento) }}
		</div>
		{{ form_end(form) }}
	</div>

<script>
	$("document").ready(function(){
		$("#gestion_gestionbundle_elementostock_tipofactura").removeAttr("required");
		$("#gestion_gestionbundle_elementostock_factura").removeAttr("required");
		$("#gestion_gestionbundle_elementostock_ordencompra").removeAttr("required");
	});
</script>
{% endblock %}
