{% extends '::base.html.twig' %}

{% block body -%}
    <h1>
		Stock del Elemento "{{entity.elemento}}"
		<a class="btn btn-default" style="float:right;" href="{{ path('elementostock', {id: entity.elemento.id}) }}">
			Volver
		</a>
	</h1>
	<div class="gestion">
		<table class="table">
			<tbody>
				<tr>
					<th>Fecha de Alta</th>
					<td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
				</tr>
				<tr>
					<th>Origen</th>
					<td>{{ entity.origen }}</td>
				</tr>
				<tr>
					<th>Numero</th>
					<td>{{ entity.numero }}</td>
				</tr>
				<tr>
					<th>Ordencompra</th>
					<td>{{ entity.ordencompra|default('N/C') }}</td>
				</tr>
				<tr>
					<th>Tipo factura</th>
					<td>{{ entity.tipofactura }}</td>
				</tr>
				<tr>
					<th>N° Factura</th>
					<td>{{ entity.factura }}</td>
				</tr>
				<tr>
					<th>Stock</th>
					<td>{{ entity.stock }}</td>
				</tr>
			</tbody>
		</table>
	</div>

{% endblock %}
