{% extends 'GESTIONGestionBundle::base.html.twig' %}
{% block body -%}
	<h1 style="margin-bottom:10px;">
		Usuarios 
	{% if perfil == 'ADMINISTRADOR' %}
		<a style="float: right;" class="btn btn-primary" href="{{ path('usuario_new') }}">
			Crear
		</a>
	{% endif %}
	</h1>
	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Login</th>
					<th>Mail</th>
					<th>Perfil</th>
					{% if perfil == 'ADMINISTRADOR' %}
					<th>Clave</th>
					{% endif %}
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.login }}</td>
					<td>{{ entity.mail }}</td>
					<td>{{ entity.perfil }}</td>
					{% if perfil == 'ADMINISTRADOR' %}
					<td>{{ entity.clave }}</td>
					{% endif %}
					<td>
						<a class="btn btn-default" href="{{ path('usuario_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
    {% endblock %}
