{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
<h1>
	Nuevo Usuario
	<a class="btn btn-default"  href="{{ path('usuario') }}">
		Volver
	</a>
</h1>
<div class="joyas-container">
	<div class="container">
		{{ form_start(form) }}
			{{ form_errors(form) }}		
			{{ form_row(form.login) }}
			{{ form_row(form.clave) }}
			{{ form_row(form.mail) }}
			{{ form_row(form.perfil) }}
			
			{{ form_widget(form.submit) }}
		{{ form_end(form) }}	
	</div>
</div>
{% endblock %}
