{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
<h1>
	Editar Cliente "{{ entity.razonSocial }}"
	<a class="btn btn-default" href="{{ path('cliente') }}">
		Volver
	</a>
</h1>


<div class="joyas-container">
	<div class="container">
		{{ form(edit_form) }}
	</div>
</div>
{% endblock %}
