{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>Edici&oacute;n de Tipo Gasto</h1>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;"><div class="container">{{ form(edit_form) }}<a class="btn btn-default" href="{{ path('tipogasto')  }}">Volver</a></div></div>
	
<script>
	$(document).ready(function (){
		$("input").attr('class','form-control');
	});	
	activarActionsTab('tipogasto');
</script>
{% endblock %}
