{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}
	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>CheckOut</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>CheckOut</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="widget">
                        <h3 class="text-center">YA CASI TENES TU PEDIDO</h3>
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
				<div class="col-md-12 col-sm-12">
					<form method="POST" action="{{path('_realizarpedido')}}">
						<table class="table">
							<thead>
								<tr>
									<th>Producto</th>
									<th>Cantidad</th>
									<th>Precio Unitario</th>
									<th>Total</th>
									<th>Acción</th>
								</tr>
							</thead>
							<tbody>
								{% for producto in productos %}
								<tr>
									<td><a href="{{path('_producto', {slug:producto.slug})}}">{{producto.nombre}}</a></td>
									<td><input type="number" min="1" value="1" onblur="$('#preciounitario{{producto.slug}}').html({{producto.precio}}*this.value); calcular();" class="form-control" name="cantidad{{producto.slug}}" /></td>
									<td>$ {{producto.precio}}</td>
									<td>$ <span id="preciounitario{{producto.slug}}" class="totalunitadrio">{{producto.precio}}</span></td>
									<td><a class="btn btn-danger" href="{{path('_quitar', {slug:producto.slug})}}">Quitar</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{% if cliente is empty %}
						<h5 class="text-center">Logueate haciendo <a href="{{path('_ingresar')}}">click acá</a> para poder terminar tu compra.</h5>
						{% else %}
						<div class="text-center">
							<div><h3>Monto Total: $ <span id="total"></span></h3></div>
							<button type="button" onclick="confirmar()" class="btn btn-primary btn-lg">Hacer Pedido</button>
						</div>
						{% endif %}
					</form><!-- end col-lg-6 -->
				</div><!-- end col-lg-6 -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end postwrapper -->
<script>
$('document').ready(function(){
	$('input').blur();
});

function confirmar(){
	if(confirm("CONFIRMAR PEDIDO?")){
		$('form').submit();
	}
}
function calcular(){
	var total = 0;
	$('.totalunitadrio').each(function(index){
		total+=parseInt($( this ).text());
	});
	$('#total').html(total);
}

</script>
{% endblock %}
