{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}
	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Elegir Medio de Pago</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>Elegir Medio de Pago</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="widget">
                        <h3 class="text-center">TU PEDIDO ESTÁ LISTO</h3>
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
				<div class="col-sm-12">
					<table class="table">
						<thead>
							<tr>
								<th>Producto</th>
								<th>Cantidad</th>
								<th>Precio Unitario</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for elementoentrega in pedido.elementoscolaboracion %}
							<tr>
								<td><a href="{{path('_producto', {slug:elementoentrega.elementostock.elemento.slug})}}">{{elementoentrega.elementostock.elemento.nombre}}</a></td>
								<td>{{elementoentrega.cantidad}}</td>
								<td>$ {{elementoentrega.precio}}</td>
								<td>$ {{elementoentrega.cantidad * elementoentrega.precio}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="text-center">
						<h2 class="text-center">$ {{pedido.total}}</h2>
					</div>
				</div><!-- end col-md-12 -->
				<div class="col-sm-12">
					<div class="col-sm-6 text-center">
						<a href="{{linkpago}}" class="btn btn-info btn-lg">Pagar con MercadoPago <i class="fa fa-mercadopago"></i></a>
					</div><!-- end col-md-12 -->
					<div class="col-sm-6 text-center">
						<a href="{{path('_contacto')}}" class="btn btn-primary btn-lg">Acordar con el vendedor</a>
					</div><!-- end col-md-12 -->
				</div><!-- end col-md-12 -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end postwrapper -->
<script>
$('document').ready(function(){

});
</script>
{% endblock %}
