{% block body -%}
<div style="width: 100%;">
	<h4>Hola Administrador!</h4>
	<p>
		El cliente {{pedido.cliente.razonSocial}} ha realizado un nuevo pedido desde la tienda virtual.
	</p>
	<p>
		Saludos!
		<br/><br/>
		<a href="http://yover.com.ar/" target="_blank">Yover</a>
	</p>
</div>
{% endblock %}
