{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}
	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Mis Pedidos</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>Mis Pedidos</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="widget">
                        <h3 class="text-center">TUS PEDIDOS</h3>
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
				<div class="col-sm-12">
					<table class="table">
						<thead>
							<tr>
								<th>Pedido</th>
								<th>Fecha</th>
								<th>Estado</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							{% for pedido in pedidos %}
							<tr>
								<td><a href="{{path('_verpedido', {id:pedido.id})}}">PEDIDO #{{pedido.id}} <i class="fa fa-search"></i></a></td>
								<td>{{pedido.fecha|date('d-m-Y')}}</td>
								<td>{{pedido.estadostr|raw}}</td>
								<td>$ {{pedido.total}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- end col-md-12 -->
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end postwrapper -->
<script>
$('document').ready(function(){

});
</script>
{% endblock %}
