{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}


	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Nosotros</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>Nosotros</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h3>Quienes somos?</h3>
                        <p>
							Somos un grupo joven de emprendedoras apasionadas por la ropa y el buen vestir.
                        </p>
                        <p>
							Buscamos ropa de calidad y selecciona para lograr la satisfacción de nuestros clientes.
                        </p>
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
            	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget margin-top">
						<img src="{{asset(pluginsurl~'/logo.png')}}" class="img-responsive" />
                    </div><!-- end widget -->
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</section><!-- end postwrapper -->

	<section class="grey-wrapper jt-shadow hidden">
    	<div class="container">
        	<div class="col-sm-12">
            	<div class="widget">
                	<h3>Nuestros  <span>Pilares</span></h3>
                    <p>
						Queremos que nuestros clientes conozcan una experiencia distinta: nuestros profesionales están para asesorarlos con el mismo empeño que utilizarían para decorar su propio espacio.
						<br/>
						Buscamos que quien llegue a nosotros no solo compre un producto, sino que tenga un apoyo que lo asesore para elegir aquellos elementos que hagan que un lugar se convierta en un HOGAR.
					</p>
                    <div id="accordion-first" class="clearfix">
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                <em class="fa fa-plus icon-fixed-width"></em>Misión
                              </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse">
                              <div class="accordion-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                <em class="fa fa-plus icon-fixed-width"></em>Visión
                              </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                              <div class="accordion-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                <em class="fa fa-plus icon-fixed-width"></em>Valores
                              </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                              <div class="accordion-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                              </div>
                            </div>
                          </div>
                        </div><!-- end accordion -->
                    </div><!-- end accordion first -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
		</div><!-- end container -->
    </section><!-- end grey-wrapper -->
{% endblock %}
