{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}

	
	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Novedades</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>Novedades</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

	<section class="blog-wrapper">
		<div class="container">
            <div class="shop_wrapper">
            	<div class="shop-top">
                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                        <p>Viendo {{productos|length}} resultado</p>
                    </div>
                    <div class="pull-right col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <select class="custom-select form-control" id="orden">
                            <option value="defecto">Orden por Defecto</option>
                            <option value="preciomayormenor">Precio: Mayor - Menor</option>
                            <option value="preciomenormayor">Precio: Menor - Mayor</option>
                        </select>
                    </div>
				</div>
                
                <div class="clearfix"></div>
                
                <div class="padding-top">
					{% for producto in productos %}
					{% set class = ''%}
					{% if loop.index in [1,5,9,13,17,21,25,29,33,37,41,45,49,53,57,61] %}
						{% set class = 'first'%}
					{% endif %}
					{% if loop.index in [4,8,12,16,20,24,28,32,36,40,44,48,52,56,60,64] %}
						{% set class = 'last'%}
					{% endif %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 {{class}}">
                        <div class="shop_item">
                            <div class="entry">
                                <img src="{{producto.imagenBlob}}" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st btn btn-default" rel="bookmark" href="{{path('_producto', {slug: producto.slug})}}">Ver</a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                            </div><!-- end entry -->
                            <div class="shop_desc">
                                <div class="shop_title pull-left">
                                    <a href="{{path('_producto', {slug: producto.slug})}}"><span>{{producto.nombre}}</span></a>
                                    <span class="cats"><a href="{{path('_categoria', {slug: producto.categoria.slug})}}">{{producto.categoria.nombre}}</a></span>
                                </div>
                                <span class="price pull-right">
 									{% if producto.descuento %}
                                    <span style="color:red; text-decoration: line-through;">${{(producto.precio*1.1)|round}}</span>
									{% endif %}
                                   ${{producto.precio}}
                                </span>
                            </div><!-- end shop_desc -->
                        </div><!-- end item -->
                    </div><!-- end col-lg-3 -->
					{% endfor %}
                </div><!-- end padding-top -->
            </div><!-- end shop-wrapper -->
		</div><!-- end container -->
	</section><!-- end postwrapper -->

  <script type="text/javascript">
	$(document).ready(function() {
		{% if app.request.get('orden') %}
			$('#orden').val('{{app.request.get('orden')}}');		
		{% endif  %}
	});
	$('#orden').change(function(){
		window.location.href="{{path('_novedades')}}?orden="+$('#orden').val();
	});
  </script>
{% endblock %}
