{% extends 'GESTIONTiendaBundle::base.html.twig' %}
{% block body -%}


	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>{{producto.nombre}}</h2>
                <ul class="breadcrumb pull-right hidden-xs">
                    <li><a href="{{path('_index')}}">Inicio</a></li>
                    <li>{{producto.nombre}}</li>
                </ul>
			</div>
		</div>
	</section>

	<section class="blog-wrapper">
		<div class="container">
            <div class="shop_wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<div class="general_row">
                    <div class="shop-left shop_item col-lg-6">
                    	<div class="entry">
							{% set longimg = producto.imagenBlob %}
                        	<img src="{{longimg}}" alt="" class="img-responsive">
							<div class="magnifier">
								<div class="buttons">
									<a href="{{longimg}}" class="sf" title="" data-gal="prettyPhoto[product-gallery]"><span class="fa fa-search"></span></a>
								</div>
							</div><!-- end magnifier -->
                        </div><!-- entry -->
						<div class="thumbnails clearfix">
                        	<div class="entry first">
                            	<img class="img-responsive" src="{{longimg}}" alt="" />
                                <div class="magnifier">
                                    <div class="buttons">
										<a href="{{longimg}}" class="sf" title="" data-gal="prettyPhoto[product-gallery]"><span class="fa fa-search"></span></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                            </div>
							{% if producto.imagendos %}
							{% set longimgdos = producto.imagendosBlob %}
                        	<div class="entry">
                            	<img class="img-responsive" src="{{longimgdos}}" alt="" />
                                <div class="magnifier">
                                    <div class="buttons">
										<a href="{{longimgdos}}" class="sf" title="" data-gal="prettyPhoto[product-gallery]"><span class="fa fa-search"></span></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                            </div>
							{% endif %}
							{% if producto.imagentres %}
							{% set longimgtres = producto.imagentresBlob %}
                        	<div class="entry last">
                            	<img class="img-responsive" src="{{longimgtres}}" alt="" />
                                <div class="magnifier">
                                    <div class="buttons">
										<a href="{{longimgtres}}" class="sf" title="" data-gal="prettyPhoto[product-gallery]"><span class="fa fa-search"></span></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                            </div>
							{% endif %}
						</div>
                    </div><!-- end shop-left -->

                    <div class="shop-right col-lg-6">

                    	<div class="title">
                        	<h2>{{producto.nombre}} </h2>
                            <span class="price">
                            	${{producto.precio}}
							</span>
                        </div><!-- end title -->

                        <div class="shop_desc">
                        <p>{{producto.descripcion|raw}}.</p>
                        </div><!-- end shop_desc -->

                        <div class="shop_item_details">
                        	<div class="title">
                            	<h2>Detalle</h2>
                        	</div><!-- end title -->
                            <ul>
                            	<li><strong>Código:</strong> {{producto.codigo}}</li>
                            	<li><strong>Categoría:</strong> {{producto.categoria.nombre}}</li>
                            	<li><strong style="color: green">Hay Stock!</strong></li>
                            </ul>
                        </div><!-- end shop_item_details -->

                        <div class="shop_meta">
                            <div class="pull-left">
                            	<div class="btn-shop">
                                    <a href="{{ path('_agregar', {slug: producto.slug}) }}" class="btn woo_btn btn-primary">Agregar al Carrito</a> 
									<a href="#">
										<span>
											<i class="fa fa-shopping-cart"></i>
										</span>
									</a>
                                </div>
                            </div><!-- end pull-right -->
                        </div><!-- end shop meta -->
                    </div><!-- end shop-right -->
                </div><!-- end row -->

                <div class="clearfix"></div>
				{% if productos|length > 0 %}
                <div class="carousel_wrapper">
                    <div class="title">
                        <h2>Productos Relacionados</h2>
                    </div><!-- end title -->

                    <div class="margin-top">
                        <div id="owl_shop_carousel" class="owl-carousel">
							{% for productorelacionado in productos %}
							{% if productorelacionado == producto %}
								{% set longimgrelacion = longimg %}
							{% else %}
								{% set longimgrelacion = productorelacionado.imagenBlob %}
							{% endif %}
							<div class="shop_carousel">
                                <div class="shop_item">
                                    <div class="entry">
                                        <img src="{{longimgrelacion}}" alt="" class="img-responsive">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st btn btn-default" rel="bookmark" href="{{path('_producto', {slug: productorelacionado.slug})}}">Ver</a>
                                            </div><!-- end buttons -->
                                        </div><!-- end magnifier -->
                                    </div><!-- end entry -->
                                    <div class="shop_desc">
                                        <div class="shop_title pull-left">
                                            <a href="{{path('_producto', {slug: producto.slug})}}"><span>{{productorelacionado.nombre}}</span></a>
                                            <span class="cats"><a href="{{path('_categoria', {slug:productorelacionado.categoria.slug})}}">{{productorelacionado.categoria.nombre}}</a></span>
                                        </div>
                                        <span class="price pull-right">
											{% if productorelacionado.descuento %}
											<span style="color:red; text-decoration: line-through;">${{(productorelacionado.precio*1.1)|round}}</span>
											{% endif %}
                                           ${{productorelacionado.precio}}
                                        </span>
                                    </div><!-- end shop_desc -->
                                </div><!-- end item -->
                            </div><!-- end shop carousel -->
							{% endfor %}
                        </div><!-- end owl_blog_three_line -->
                    </div><!-- end padding-top -->
                </div><!-- end carousel_wrapper -->
				{% endif %}
			</div><!-- end shop-wrapper -->
		</div><!-- end container -->
	</section><!-- end postwrapper -->

  <!-- Lightbox Animations -->
  <link href="{{asset(pluginsurl~'css/prettyPhoto.css') }}" rel="stylesheet">
 <script src="{{asset(pluginsurl~'js/jquery.prettyPhoto.js') }}"></script>
	<script type="text/javascript">
	(function($) {
		"use strict";
		jQuery('a[data-gal]').each(function() {
			jQuery(this).attr('rel', jQuery(this).data('gal'));
		});
		jQuery("a[data-gal^='prettyPhoto']").prettyPhoto({animationSpeed:'slow',slideshow:false,overlay_gallery: false,theme:'light_square',social_tools:false,deeplinking:false});
	})(jQuery);
	</script>


{% endblock %}
