<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<title>{{title|default('Yover')}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Yover - Indumentaria femenina.">
	<meta name="keywords" content="Yover, Tienda de Moda, remeras, jeans, calzas, vestidos, moda, accesorios">
	<meta name="author" content="Nicolas Corvalan">
	<link rel="icon" href="{{ asset(pluginsurl~'../favicon.ico') }}" type="image/x-icon">

	<!-- Bootstrap Styles -->
	<link href="{{ asset(pluginsurl~'css/bootstrap.css') }}" rel="stylesheet">

	<!-- Styles -->
	<link href="{{ asset(pluginsurl~'style.css') }}" rel="stylesheet">

	<!-- Carousel Slider -->
	<link href="{{ asset(pluginsurl~'css/owl-carousel.css') }}" rel="stylesheet">

	<!-- CSS Animations -->
	<link href="{{ asset(pluginsurl~'css/animate.min.css') }}" rel="stylesheet">

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,300italic,700,700italic,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Exo:400,300,600,500,400italic,700italic,800,900' rel='stylesheet' type='text/css'>

	<!-- SLIDER ROYAL CSS SETTINGS -->
	<link href="{{ asset(pluginsurl~'royalslider/royalslider.css') }}" rel="stylesheet">
	<link href="{{ asset(pluginsurl~'royalslider/skins/default-inverted/rs-default-inverted.css') }}" rel="stylesheet">

	<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="{{ asset(pluginsurl~'rs-plugin/css/settings.css') }}" media="screen" />

	<script src="{{ asset(pluginsurl~'js/jquery.js') }}"></script>
	<script src="{{ asset(pluginsurl~'js/bootstrap.min.js') }}"></script>
	<!-- Support for HTML5 -->
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js') }}"></script>
	<![endif]-->

	<!-- Enable media queries on older bgeneral_rowsers -->
	<!--[if lt IE 9]>
	<script src="{{ asset(pluginsurl~'js/respond.min.js') }}"></script>  <![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66106469-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-66106469-2');
	</script>
</head>
<body>
{% set cliente = app.session.get('cliente') %}
<div class="animationload">
	<div class="loader">Loading...</div>
</div>
	<div id="topbar" class="clearfix">
    	<div class="container">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="social-icons">
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="https://www.facebook.com/yoverok/" target="_blank"><i class="fa fa-facebook"></i></a></span>
                    <span class="last"><a data-toggle="tooltip" data-placement="bottom" title="Instagram" href="https://www.instagram.com/yoverok/" target="_blank"><i class="fa fa-instagram"></i></a></span>
                </div><!-- end social icons -->
            </div><!-- end columns -->
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="topmenu">
                    {% if cliente is empty %}
                        <span class="topbar-login"><i class="fa fa-user"></i> <a href="{{path('_ingresar')}}">Ingresar</a></span>
                    {% else %}
                        <span class="topbar-login"><a href="{{path('_mispedidos')}}"><i class="fa fa-user"></i> {{cliente.razonSocial}}</a></span>
                    {% endif %}
					{% set carrito = app.session.get('carrito') %}
                    <span class="topbar-cart"><i class="fa fa-shopping-cart"></i> <a href="{{ path('_checkout') }}">{{carrito|length}} item</a></span>
                </div><!-- end top menu -->
            </div><!-- end columns -->
        </div><!-- end container -->
    </div><!-- end topbar -->

    <header id="header-style-1">
		<div class="container">
			<nav class="navbar yamm navbar-default">
				<div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{path('_index')}}" class="navbar-brand"><img src="{{asset(pluginsurl~'logo.png')}}"/></a>
        		</div><!-- end navbar-header -->

				<div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="{{path('_index')}}">Inicio </a></li><!-- end drop down -->
                        <li><a href="{{path('_nosotros')}}">Nosotros</a></li>
                        <li><a href="{{path('_novedades')}}">Novedades</a></li>
                        <li><a href="{{path('_tienda')}}">Tienda</a></li>
                        <li><a href="{{path('_contacto')}}">Contacto</a></li>
					</ul><!-- end navbar-nav -->
				</div><!-- #navbar-collapse-1 -->
			</nav><!-- end navbar yamm navbar-default -->
		</div><!-- end container -->
	</header><!-- end header-style-1 -->
    <div class="row" >
        {% for flashMessage in app.session.flashbag.get('msgError') %}
            <div class="col-md-6 col-md-offset-3" >
                <div class="alert alert-danger fade in">
                    <button type="button" class="close" data-dismiss="alert" onclick="$('.alert').hide()">X</button>
                    <h4>{{ flashMessage }}</h4>
                </div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('msgWarn') %}
            <div class="col-md-6 col-md-offset-3" >
                <div class="alert alert-info fade in">
                    <button type="button" class="close" data-dismiss="alert" onclick="$('.alert').hide()">X</button>
                    <h4>{{ flashMessage }}</h4>
                </div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('msgOk') %}
            <div class="col-md-6 col-md-offset-3" >
                <div class="alert alert-success fade in">
                    <button type="button" class="close" data-dismiss="alert" onclick="$('.alert').hide()">X</button>
                    <h4>{{ flashMessage }}</h4>
                </div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('msgInfo') %}
            <div class="col-md-6 col-md-offset-3" >
                <div class="alert alert-info fade in">
                    <button type="button" class="close" data-dismiss="alert" onclick="$('.alert').hide()">X</button>
                    <h4>{{ flashMessage }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>

	{% block body %}
	{% endblock %}

	<footer id="footer-style-1">
    	<div class="container">
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<div class="title">
                        <h3>Categorías</h3>
                    </div><!-- end title -->
                    <ul class="footer_post" style="display: grid;">
					{% set categorias = app.session.get('categorias')%}
					{% for categoria in categorias %}
                        <li><a href="{{path('_categoria', {'slug':categoria.slug})}}">{{categoria.nombre}}</a></li>
					{% endfor %}
					</ul><!-- end twiteer_feed -->
                </div><!-- end widget -->
            </div><!-- end columns -->
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<div class="title">
                        <h3>Mi Cuenta</h3>
                    </div><!-- end title -->
                    <ul class="footer_post" style="display: grid;">
                        {% if cliente is empty %}
                            <li><a href="{{path('_ingresar')}}">Ingresar</a></li>
                        {% else %}
                            <li><a href="{{path('_mispedidos')}}">Mis Pedidos</a></li>
							<li><a href="{{path('_misdatos')}}">Mi Datos Personales</a></li>
							<li><a href="{{path('_salir')}}">Cerrar Sesión</a></li>
                        {% endif %}
					</ul><!-- end twiteer_feed -->
                </div><!-- end widget -->
            </div><!-- end columns -->
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<div class="title">
                        <h3>Contactanos</h3>
                    </div><!-- end title -->
                    <ul class="footer_post" style="display:grid;">
                        <li>info@yover.com.ar</li>
                        <li>+54 11 5229 2925</li>
                    </ul><!-- recent posts -->
                </div><!-- end widget -->
            </div><!-- end columns -->
    	</div><!-- end container -->
    </footer><!-- end #footer-style-1 -->

	<div id="copyrights">
    	<div class="container">
			<div class="col-lg-5 col-md-6 col-sm-12">
            	<div class="copyright-text">
                    <p>Copyright © 2018 - Desarrollo <a href="http://sistemastitanio.com.ar" target="_blank"><strong>Sistemas TITANIO</strong></a></p>
                </div><!-- end copyright-text -->
			</div><!-- end widget -->
			<div class="col-lg-7 col-md-6 col-sm-12 clearfix">
				<div class="footer-menu">
                    <ul class="menu">
                        <li class="active"><a href="#">Inicio</a></li>
                        <li><a href="{{path('_nosotros')}}">Nosotros</a></li>
                        <li><a href="{{path('_novedades')}}">Novedades</a></li>
                        <li><a href="{{path('_tienda')}}">Tienda</a></li>
                        <li><a href="{{path('_contacto')}}">Contacto</a></li>
                    </ul>
                </div>
			</div><!-- end large-7 -->
        </div><!-- end container -->
    </div><!-- end copyrights -->

	<div class="dmtop">Scroll Top</div>

  <!-- Main Scripts-->
  <script src="{{ asset(pluginsurl~'js/menu.js') }}"></script>
  <script src="{{ asset(pluginsurl~'js/owl.carousel.min.js') }}"></script>
  <script src="{{ asset(pluginsurl~'js/jquery.parallax-1.1.3.js') }}"></script>
  <script src="{{ asset(pluginsurl~'js/jquery.simple-text-rotator.js') }}"></script>
  <script src="{{ asset(pluginsurl~'js/wow.min.js') }}"></script>
  <script src="{{ asset(pluginsurl~'js/custom.js') }}"></script>

  <script src="{{ asset(pluginsurl~'js/jquery.isotope.min.js') }}"></script>
  <script src="{{ asset(pluginsurl~'js/custom-portfolio.js') }}"></script>

  <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
  <script type="text/javascript" src="{{ asset(pluginsurl~'rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset(pluginsurl~'rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
  <script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery('.fullwidthbanner').revolution(
				{
				delay:6000,
				startwidth:960,
				startheight:426,
				hideThumbs:10
				}
			);
		});
  </script>


  <!-- Royal Slider script files -->
  <script src="{{ asset(pluginsurl~'royalslider/jquery.easing-1.3.js') }}"></script>
  <script src="{{ asset(pluginsurl~'royalslider/jquery.royalslider.min.js') }}"></script>
  <script>
	jQuery(document).ready(function($) {
	  var rsi = $('#slider-in-laptop').royalSlider({
		autoHeight: false,
		arrowsNav: false,
		fadeinLoadedSlide: false,
		controlNavigationSpacing: 0,
		controlNavigation: 'bullets',
		imageScaleMode: 'fill',
		imageAlignCenter: true,
		loop: false,
		loopRewind: false,
		numImagesToPreload: 6,
		keyboardNavEnabled: true,
		autoScaleSlider: true,
		autoScaleSliderWidth: 486,
		autoScaleSliderHeight: 315,
		imgWidth: 792,
		imgHeight: 479

	  }).data('royalSlider');
	  $('#slider-next').click(function() {
		rsi.next();
	  });
	  $('#slider-prev').click(function() {
		rsi.prev();
	  });
	});
  </script>
  <style>
  .close{
	  line-height: 0;
  }
  </style>
  </body>
</html>
