{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Edición de {{entity.nombre}}
		<a class="btn btn-default" style="float:right;" href="{{ path('elemento') }}">
			Volver
		</a>
	</h1>
	<div class="col-md-6 col-md-offset-3 gestion">
		{{ form(edit_form) }}
		<div class="col-md-12 imgDownload">
			{% if entity.imagen %}
				<br/>
				<a href="{{entity.imagenBlob}}" download="{{entity.slug}}-principal.jpg">Imagen Principal <i class="fa fa-download"></i></a>
			{% endif %}
			{% if entity.imagendos %}
				<br/>
				<a href="{{entity.imagendosBlob}}" download="{{entity.slug}}-secundaria.jpg">Imagen Secundaria <i class="fa fa-download"></i></a>
			{% endif %}
			{% if entity.imagentres %}
				<br/>
				<a href="{{entity.imagentresBlob}}" download="{{entity.slug}}-tercera.jpg">Tercer Imagen <i class="fa fa-download"></i></a>
			{% endif %}
		</div>
	</div>

	<script>
		$(document).ready(function(){
			$('#gestion_gestionbundle_elemento_destacado,#gestion_gestionbundle_elemento_novedad').removeAttr('required');
		});
	</script>
	<style>
		.imgDownload{
		    font-size: 1.2em;
			text-align: center;
			border: 1px solid;
			border-color: #d0d0d0;
			border-radius: 5px;
			padding-bottom: 20px;
			margin-top: 1em;
		}
	</style>
{% endblock %}
