{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Listado de Productos
		<a class="btn btn-primary" style="float:right;" href="{{ path('elemento_new') }}">
			Crear
		</a>
	</h1>
	<div class="gestion">
		<table class="display" id="tablas">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Categoría</th>
					<th>Stock</th>
					<th>Precio</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.codigo }}</td>
					<td><a href="{{ path('elemento_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
					<td>{{ entity.categoria }}</td>
					<td>{{ entity.stock }}</td>
					<td>${{ entity.precio }}</td>
					<td>
					{% if entity.codEstado == 'A' %}
						<a class="btn btn-info btn-xs" href="{{ path('elementostock', { 'id': entity.id }) }}" title="Manejo de Stock"><i class="fa fa-plus"></i></a>
						{% if entity.visible %}
						<a class="btn btn-default btn-xs" href="{{ path('elemento_novisible', { 'id': entity.id }) }}" title="No Visible"><i class="fa fa-eye-slash"></i></a>
						{% else %}
						<a class="btn btn-default btn-xs" href="{{ path('elemento_visible', { 'id': entity.id }) }}" title="Hacer Visible"><i class="fa fa-eye"></i></a>
						{% endif %}
						<a class="btn btn-success btn-xs" href="{{ path('elemento_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-primary btn-xs" href="{{ path('elemento_show', { 'id': entity.id }) }}" title="Ver"><i class="fa fa-search"></i></a>
						<a class="btn btn-danger btn-xs" href="{{ path('elemento_delete', { 'id': entity.id }) }}" title="Borrar"><i class="fa fa-times"></i></a>
					{% else %}
						<a class="btn btn-primary btn-xs" href="{{ path('elemento_activar', { 'id': entity.id }) }}" title="Activar">Activar</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
