{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Edición de {{entity.nombre}}
		<a class="btn btn-default" style="float:right;" href="{{ path('categoria') }}">
			Volver
		</a>
	</h1>
	<div class="col-md-6 col-md-offset-3 gestion">
		{{ form(edit_form) }}
	</div>
{% endblock %}
