{% extends 'GESTIONGestionBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Listado de Categorias
		<a class="btn btn-primary" style="float:right;" href="{{ path('categoria_new') }}">
			Crear
		</a>
	</h1>
	<div class="gestion">
		<table class="display" id="tablas" width="100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Slug</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.id }}</td>
					<td>{{ entity.nombre }}</td>
					<td>{{ entity.slug }}</td>
					<td>
					{% if entity.codEstado == 'A'%}
						<a class="btn btn-success btn-xs" href="{{ path('categoria_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-danger btn-xs" href="{{ path('categoria_delete', { 'id': entity.id }) }}" title="Borrar"><i class="fa fa-times"></i></a>
					{% else %}
						<a class="btn btn-primary btn-xs" href="{{ path('categoria_activar', { 'id': entity.id }) }}" title="Activar">Activar</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
